body{
    background-color: greenyellow;
    padding: 10px;
}
nav{
    background-color: white;
    text-align: center;
}
nav ul li{
    display: inline;
    padding: 100px;
    text-align: center;
    
}
nav ul li a:hover{
    text-decoration: underline;
    color:red;
}

#nyuszikep{
    float: left;
    border-style:double;
    border-color:green;
    border-width: medium;
}
p{
    text-align: justify;
    padding-left: 100px;
    padding-top: 250px;
    font-size: 30px;
}