body{
    background-image:url(fu3.jpg);
    background-color: greenyellow;
    padding: 10px;
}
nav{
    background-color: white;
    text-align: center;
}
nav ul li{
    display: inline;
    padding: 100px;
    text-align: center;
    
}
nav ul li a:hover{
    text-decoration: underline;
    color: red;
}

#nyuszikep{
    float: left;
}
p{
    text-align: justify;
    padding-left: 100px;
    margin-top: 250px;
    font-size: 25px;
    background-color: wheat;
}